nodered/dashboard.json
[
    {
        "id": "f4f8d9c9c1e9e246",
        "type": "tab",
        "label": "Project",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "af5d29e55032a214",
        "type": "mqtt in",
        "z": "f4f8d9c9c1e9e246",
        "name": "",
        "topic": "rotationcmd/joystick",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "776cbb2c3bf537ca",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 200,
        "wires": [
            [
                "4cbe53d33c79cce3"
            ]
        ]
    },
    {
        "id": "4cbe53d33c79cce3",
        "type": "switch",
        "z": "f4f8d9c9c1e9e246",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "800",
                "vt": "num"
            },
            {
                "t": "lte",
                "v": "500",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 370,
        "y": 200,
        "wires": [
            [
                "360c27d4e267a82d"
            ],
            [
                "97361709763142e7"
            ]
        ]
    },
    {
        "id": "b0cde4c3db5bd126",
        "type": "rbe",
        "z": "f4f8d9c9c1e9e246",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 810,
        "y": 180,
        "wires": [
            [
                "7ae2d0d7d9cde52d"
            ]
        ]
    },
    {
        "id": "360c27d4e267a82d",
        "type": "function",
        "z": "f4f8d9c9c1e9e246",
        "name": "Prepare up payload",
        "func": "\nreturn {\n    payload: 180,\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 120,
        "wires": [
            [
                "b0cde4c3db5bd126"
            ]
        ]
    },
    {
        "id": "97361709763142e7",
        "type": "function",
        "z": "f4f8d9c9c1e9e246",
        "name": "Prepare Down payload",
        "func": "\nreturn {\n    payload: -180,\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 260,
        "wires": [
            [
                "b0cde4c3db5bd126"
            ]
        ]
    },
    {
        "id": "7ae2d0d7d9cde52d",
        "type": "mqtt out",
        "z": "f4f8d9c9c1e9e246",
        "name": "",
        "topic": "servo-lunch/lunch/set",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "776cbb2c3bf537ca",
        "x": 1040,
        "y": 180,
        "wires": []
    },
    {
        "id": "909afe9c2cdb9ef8",
        "type": "mqtt in",
        "z": "f4f8d9c9c1e9e246",
        "name": "",
        "topic": "tempreature-1/sensor",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "776cbb2c3bf537ca",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 420,
        "y": 420,
        "wires": [
            [
                "24572b3201c4c63a"
            ]
        ]
    },
    {
        "id": "24572b3201c4c63a",
        "type": "debug",
        "z": "f4f8d9c9c1e9e246",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 420,
        "wires": []
    },
    {
        "id": "776cbb2c3bf537ca",
        "type": "mqtt-broker",
        "name": "mango",
        "broker": "192.168.14.1",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]